html body * { font-family: sans-serif; }
.wrapper { max-width: 860px; width: 100%; margin: 0 auto; }

/* header */
header {
  background-color: #DEDEDE;
}
.header__picture {
  background-image: url(../image/foto-header.png);
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding-top: 280px;
  padding-bottom: 130px;
}
header h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px #777;
}

/* introduction */
.introduction {
  text-align: center;
}
.introduction p {
  padding: 32px 0;
  color: #777;
}
.introduction hr {
  margin: 0 auto;
  width: 200px;
  border: 1px solid #CCC;
}
.introduction a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #559999;
  padding: 24px;
}
.introduction a::after {
  content: " \00BB";
}

.team__picture {
  height: 100px;
  width: 100px;
  background-size: cover;
}
.team__picture--guto {
  background-image: url('../image/guto.png');
}
