/* GENERAL RULES */
html body * { font-family: sans-serif; }
.wrapper {
  max-width: 860px;
  width: 100%;
  margin: 0 auto;
}
body h2,
body h3 {
  text-transform: uppercase;
  color: #777777;
  font-weight: bold;
  font-size: 1.1em;
}
body p {
  color: #888888;
  line-height: 1.5em;
  text-align: justify;
}
.column__break { clear: both; }

/* header */
header {
  background-color: #DEDEDE;
}
.header__picture {
  background-image: url(../image/foto-header.png);
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding-top: 280px;
  padding-bottom: 122px;
}
header h1 {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px #777;
}

/* introduction */
.introduction {
  text-align: center;
}
.introduction p {
  padding: 32px 0 23px;
  color: #777;
  line-height: 1.7em;
  text-align: center;
}
.introduction hr {
  margin: 0 auto;
  width: 200px;
  border: 1px solid #CCC;
}
.introduction a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #559999;
  padding: 24px;
}
.introduction a::after {
  content: " \00BB";
}

/* NEWS */
.news {
  background-color: #EEEEEE;
  padding: 50px 0;
}
.news__column {
  width: 49%;
  float: right;
}
.news__column+.news__column {
  margin-right: 2%;
}
.news__author {
  margin: 14px 0 40px;
  font-size: 1.1em;
  font-style: italic;
  color: #F79910;
  display: block;
}
.news__container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.news__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Team */
.team {
  clear: both;
  background-color: #EEEEEE;
  padding: 0 0 50px;
}
.team h2 {
  width: 230px;
  margin: 0 auto 52px;
  text-align: center;
  line-height: 1.2em;
}
.team__picture {
  width: 24%;
  padding-top: 24%;
  margin-right: 0;
  background-size: cover;
  float: left;
  position: relative;
}
.team__picture+.team__picture {
  margin-left: 1.33%;
}
.team__picture > a {
  display: block;
  width: 100%;
  padding-top: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.team__picture--guto {
  background-image: url('../image/guto.png');
}
.team__picture--camila {
  background-image: url('../image/camila.png');
}
.team__picture--david {
  background-image: url('../image/david.png');
}
.team__picture--beatriz {
  background-image: url('../image/beatriz.png');
}

/* Features */
.features {
  padding: 50px 0;
}
.features__column {
  width: 30%;
  float: left;
}
.features__column+.features__column {
  margin-left: 5%;
}
.features__picture {
  height: 150px;
  width: 150px;
  margin: 0 auto;
}
.features__picture--qualidade {
  background-image: url('../image/qualidade.png');
}
.features__picture--descontracao {
  background-image: url('../image/descontracao.png');
}
.features__picture--atividades {
  background-image: url('../image/atividades.png');
}
.features h3 {
  padding: 35px 0;
  text-align: center;
}

/* Opennings */
.opennings { clear: both; }
